.section4 {
  .section4Content {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    margin: auto;
    padding: 90px 0 108px;
    align-items: center;
    .section4ContentHeader {
      font-family: var(--font-roboto-medium);
      font-weight: 500;
      font-size: 38px;
      line-height: 132%;
      font-variant: small-caps;
      text-align: center;
      color: var(--black-80);
      margin-bottom: 30px;
    }
    .form{
      .inputWrapper{
        position: relative;
        .section4Input{
          width: 551px;
          height: 51px;
          border-radius: 15px;
          padding-left: 20px;
        }
        .section4Input::placeholder{
          font-weight: 300;
          font-size: 16px;
          line-height: 156%;
          font-variant: small-caps;
          color: var(--black-40);
        }
        .formButton{
          position: absolute;
          top: 0;
          right: -5px;
          border-radius: 15px;
          padding: 20px 35px;
          width: 30%;
          height: 100%;
          background-color: var(--black-60);
          color: var(--white);
          font-variant: small-caps;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }

  }
  .section4Content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-variant: small-caps;
    text-align: center;
    color: var(--black-80);
    margin-bottom: 40px;
  }
}